.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container {
    max-width: 944px;
    margin: 0 auto;
    padding: 0 54px;
}
.header {
    background-color: #F4F9E2;
}

.header__container {
    display: flex;
    justify-content: space-between;
    max-width: 1131px;
    margin: 27px auto 164px;
    padding: 0 54px;
}

.header__logo {
    font-family: 'Larsseit', sans-serif;
    font-size: 24px;
    line-height: 112%;
    font-weight: 700;
    letter-spacing: -0.035em;

    color: #62D0DF;
}

.menu__list {
    display: flex;  
}

.menu__item:not(:last-child) {
    padding-right: 24px;
}

.menu__link {
    font-family: 'Larsseit', sans-serif;
    font-size: 14px;
    line-height: 114%;
    font-weight: 400;

    color: #22356F;
}

.menu__link:active {
    padding-bottom: 8px;

    font-weight: 500;

    border-bottom: 1px solid #22356F;
}

.header__button {
    width: 150px;
    height: 50px;

    font-weight: 700;
    color: #fff;
    
    border-radius: 25px;
    background-color: #62D0DF;
}
