.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

._container {
    max-width: 944px;
    margin: 0 auto;
    padding: 0 54px;
}

.header__container {
    display: flex;

    background-color: #F4F9E2;
}

.header__container-nav {
    display: flex;
    flex-basis: 1650px;
    margin: 27px 0 238px;
    padding-left: 178px;

}

.header__logo {
    margin-right: 215px;

    font-family: 'Larsseit', sans-serif;
    font-size: 24px;
    line-height: 112%;
    font-weight: 700;
    letter-spacing: -0.035em;

    color: #62D0DF;
}

.menu__list {
    display: flex;  
}

.menu__item:not(:last-child) {
    padding-right: 24px;
}

.menu__link {
    font-family: 'Larsseit', sans-serif;
    font-size: 24px;
    line-height: 114%;
    font-weight: 400;

    color: #22356F;
}

.menu__link:active {
    padding-bottom: 8px;

    font-weight: 500;

    border-bottom: 1px solid #22356F;
}

.header__container-button {
    width: 269px;
    flex-grow: 1;
    padding: 27px 54px 0 45px;

    background-color: #fff;
}

.header__button {
    position: relative;
    z-index: 1;
    width: 150px;
    height: 50px;

    font-weight: 700;
    color: #fff;

    border-radius: 25px;
    background-color: #62D0DF;
}

.page__helping-you {
    display: flex;
    justify-content: center;

    background-color: #F4F9E2;
}

.helping-you__description {
    flex-basis: 1650px;
    padding-left: 178px;
}

.helping-you__container {
    max-width: 469px;
}

.helping-you__logo {
    margin-bottom: 40px;

    font-size: 24px;
    line-height: 112%;
    font-weight: 700;
    letter-spacing: -0.035em;

    color: #62D0DF;
}

.helping-you__title {
    margin-bottom: 70px;

    font-size: 48px;
    line-height: 111%;
    font-weight: 700;   
    letter-spacing: -0.035em;
}

.helping-you__text {
    padding-bottom: 63px;

    font-size: 24px;
    line-height: 175%;
    font-weight: 400;
}

.helping-you__buttons {
    display: flex;
}

.button {
    width: 150px;
    height: 50px;
    margin-bottom: 77px;

    font-size: 16px;
    font-weight: 700;
    color: #FAB63E;
    
    background-color: #F4F9E2;
}

.button:active {
    color: #fff;
    
    background-color: #F9B640;
}

.helping-you__photo {
    width: 269px;
    flex-grow: 1;
    padding-right: 320px;

    background-color: #fff;
}
.helping-you__ellipse-background {
    width: 545px;
    height: 808px;
    margin-top: -400px;
    margin-left: -150px;

    background-color: #EDFDFF;

    border-radius: 272.5px;

    transform: rotate(30deg);
}
.helping-you__ellipse-photo {
    width: 545px;
    height: 808px;
    overflow: hidden;
    margin-top: -773px;
    margin-left: -111px;

    border-radius: 272.5px; 

    transform: rotate(52.84deg);
}
.helping-you__ellipse-photo img{
    height: 100%;
    width: 900px;
    margin: 80px 0 0 -190px;

    transform: rotate(-52.84deg);
}
@media (max-width: 1200px) {
    .header__logo {
        margin-right: 150px;
    }
    .header__container-nav {
        margin-bottom: 150px;
    }
    .header__container-button {
        background-color: #F4F9E2;
    }
    .helping-you__photo {
        display: none;
    }
}
@media (max-width: 991px) {
    .header__logo {
        margin-right: 115px;
    }
    .header__container-nav {
        padding-left: 100px;
    }
    .menu__link { 
        font-size: 14px;
    }
    .helping-you__description {
        padding-left: 100px;
    }
}
@media (max-width: 767px) {
    .header__container {
        flex-direction: column;
    }
    .header__container-nav {
        flex-basis: 0;
        margin-bottom: 0;
        padding-left: 20px;
    }
    .header__container-button {
        padding: 20px 0 20px 20px;
    }
    .header__button {
        width: 120px;
        height: 30px;
        font-size: 12px;
    }
    .helping-you__description {
        padding: 0 20px;
    }
    .helping-you__logo {
        display: none;
    }
    .helping-you__title {
        margin-bottom: 30px;
        font-size: 24px;
    }
    .helping-you__text {
        font-size: 18px;
    }
}
@media (max-width: 767px) {
    .header__logo {
        margin-right: 18px;
    }
    .menu__item:not(:last-child) {
        padding-right: 7px;
    }
}
.why-thrive__body {
    display: flex;

    color: #fff;

    background-color: #62D0DF;
}
.why-thrive__container {
    max-width: 555px;
}
.why-thrive__description {
    padding: 151px 181px 92px 178px;
}
.why-thrive__title {
    margin-bottom: 75px;

    font-size: 36px;
    font-weight: 700;
    line-height: 131%;
    letter-spacing: -0.06em;
}
.why-thrive__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 175%;
}
.why-thrive__text_strong {
    font-size: 24px;
    font-weight: 500;
    line-height: 146%;
}
.why-thrive__photo {
    order: 1;
    margin-left: auto;
}
.why-thrive__photo img {
    width: 100%;
    height: 100%;
}
.why-thrive__photo img:last-child {
    display: none;
}
@media (min-width: 1437px) { 
    .why-thrive__photo img:first-child {
        display: none;
    }
    .why-thrive__photo img:last-child {
        display: inline-block;
    }
}
@media (max-width: 1200px) {
    .why-thrive__description {
        padding: 85px 30px 0px 100px; 
    }
}
@media (max-width: 767px) {
    .why-thrive__description {
        padding: 48px 30px 0px 20px; 
    }
    .why-thrive__title {
        margin-bottom: 25px;

        font-size: 22px;
    }
    .why-thrive__text {
        font-size: 14px;
    }
    .why-thrive__text_strong {
        font-size: 16px;
    }
}    
@media (max-width: 480px) {
    /* .why-thrive__description {
        background-image: url('img/main/why_thrive_small.png');
    } */
    .why-thrive__photo {
        display: none;
    }
}
.about-us__container {
    margin: 150px 0 120px 0;
}
.about-us__header {
    display: flex;
}
.about-us__title {
    margin: 0 210px 0 106px;

    line-height: 140%;
    font-weight: 400;
}
.about-us__description {
    max-width: 595px;
    margin-bottom: 76px;

    font-size: 24px;
    line-height: 140%;
    font-weight: 500;
}
.about-us__subtitle {
    text-align: center;
    margin-bottom: 24px;

    line-height: 117%;
    font-weight: 400;

    color: #22356F80;
}
.help-you__columns {
    display: flex;
    flex-wrap: wrap;
}
.help-you__column {
    width: 25%;
    height: 360px;

    text-align: center;
}
.column__line {
    display: inline-block;
    width: 80%;
    height: 1px;
    margin-top: 72px;

    background-color: #fff;
}
.help-you__column ul {
    display: list-item;;

    font-size: 24px;
    list-style: inside;
    color: #E9B730;
}
.help-you__column li {
    display: inline-block;
    margin-top: 23px;

    font-size: 32px;
    line-height: 105%;
    color: #fff;
}
.column__weight-lifting {
    background: #FFE2DE;
}
.column__running-and-spinning {
    background: #C4E769;
}
.column__pumping-iron_light-blue {
    background: #62D0DF;
}
.column__pumping-iron_dark-blue {
    background: #0052C1;
}
@media (max-width: 1199px) {
    .help-you__column {
        width: 50%;
    }
}
@media (max-width: 991px) {
    .about-us__container {
        margin: 50px 0 50px 0;
    }
    .about-us__header {
        flex-direction: column;
        padding: 0 20px 0 20px;
    }
    .about-us__title {
        margin-bottom: 50px;
    }
    .help-you__column li {
        font-size: 20px;
    }
}
@media (max-width: 480px) {
    .about-us__title {
        margin: 0 0 10px 30px;
    }
    .about-us__description {
        font-size: 15px;
    }
    .help-you__column {
        height: 200px;
    }
    .help-you__column li {
        margin-left: -20px;

        font-size: 18px;
    }
}